{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.

  Usage:
  {% render 'product-variant-options',
  product: product,
  option: option,
  block: block
  %}
  product.variants
  [{"id":42014274388151,"title":"Small","option1":"Small","option2":null,"option3":null,"sku":"EUPHORBIA_RUBY_4","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"African Milk Tree, Small - Small","public_title":"Small","options":["Small"],"price":2500,"weight":454,"compare_at_price":2500,"inventory_management":"shopify","barcode":null,"requires_selling_plan":false,"selling_plan_allocations":[]},

  {"id":42014274420919,"title":"Medium","option1":"Medium","option2":null,"option3":null,"sku":"EUPHORBIA_RUBY_6","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"African Milk Tree, Small - Medium","public_title":"Medium","options":["Medium"],"price":3200,"weight":454,"compare_at_price":2500,"inventory_management":"shopify","barcode":null,"requires_selling_plan":false,"selling_plan_allocations":[]}]

  product.variants | map: 'option1'
  ["Small","Medium"]

  product_option
  {
  name: "Size",
  position: 1,
  selected: "Small",
  values: ["Small", "Medium"]
  }
{% endcomment %}

{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {%- if block.settings.picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if option.selected_value == value %}
      checked
      {% endif %}
      {% if option_disabled %}
      class="disabled"
      {% endif %}>
    {% comment %} edit this label probably {% endcomment %}
    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
      {% if product.type == "Plant" and option.name == "Size" %}
        {% case value %}
          {% comment %} icons are choosen based on css :checked class {% endcomment %}
          {% when 'Small' %}
            {% render 'icon-plant-solid' %}
            {% render 'icon-plant' %}
          {% when 'Medium' %}
            {% render 'icon-potted-plant-solid' %}
            {% render 'icon-potted-plant' %}
          {% when 'Large' %}
            {% render 'icon-monstera-solid' %}
            {% render 'icon-monstera' %}
        {% endcase %}
      {% endif %}
      {{ value -}}
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </label>

  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
      selected="selected"
      {% endif %}>
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}